<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lanchonete</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <script src="https://kit.fontawesome.com/14f4815201.js" crossorigin="anonymous"></script>
  </head>
  <>
    <div class="page-head">
      <h1>El Burger</h1>
    </div>
    <div class="Home">
      <!-- Listagem de o Lanche pelo seu ID -->
      </br>
      <h2>Pesquisar Lanche</h2>
     <div class="lanche-escolhido-espaco">
        <!-- Área do form -->
        <div id="lanche-escolhido-input-espaco">
          <input
            type="number"
            id="idLanche"
            placeholder="Digite o ID do Lanche"
          />
          <button id="idLancheButton" onclick="findByIdLanches()">
            ESCOLHER
          </button><br><br><br>
        </div>
        <!-- Área de renderizar o Lanche encontrada -->
        <div id="lancheEscolhido"><h3>Escolha o Lanche de sua preferência!</h3></div>
      </div>

       <!-- Área do modal para criar o lanche -->
       <section class="button-modal-create">
        <button
          type="button"
          id="createLancheButton"
          onclick="showModal()"
        >
          Cadastrar Lanche
        </button>
      </section>

      <section class="modal-overlay" id="overlay">
        <div class="modal">
          <div class="modal-header">
            <h2>Cadastrar um Lanche</h2>
            <a onclick="closeModal()" class="close-modal">x</a>
          </div>

          <div class="modal-body">
            <div>
              <input
                type="text"
                name="nome"
                id="nome"
                placeholder="Nome do Lanche"
              />
              <input
                type="text"
                name="preco"
                id="preco"
                placeholder="Preço do Lanche"
              />
              <textarea
                type="text"
                name="description"
                id="description"
                placeholder="Descrição do Lanche"
                rows="5"
              ></textarea>
              <input
                type="text"
                name="img"
                id="img"
                placeholder="Link da Foto do Lanche"
              />
              <select
                name="tipo"
                id="tipo"
                placeholder="Selecione o tipo de lanche"
              >
              <option value="1">Boi</option>
              <option value="2">Frango</option>
              <option value="3">Vegan</option>
              </select>
              <button class="default-button" onclick="createLanche()">
                Cadastrar
              </button>
            </div>
          </div>
        </div>
      </section>

      <!-- Modal delete -->
    <section class="modal-overlay" id="overlay-delete">
      <div class="modal">
        <div class="modal-header">
          <h2 id="title-header-modal">Confirmação de deleção</h2>
          <a onclick="closeModalDelete()" class="close-modal">x</a>
        </div>
        <div class="modal-body-delete">
          <p>Deseja realmente apagar essa paleta?</p>
          <div class="btns-delete">
            <button
              class="btn-delete-no btn-delete"
              onclick="closeModalDelete()"
            >
              Não
            </button>
            <button class="btn-delete-yes btn-delete" id="button-delete">
              Sim
            </button>
          </div>
        </div>
      </div>
    </section>
    <!-- Modal delete -->
    <!-- /Modals -->

      <!-- Listagem de todas os lanches -->
      <h2>Lanches Disponíveis</h2> <br>

      <div class="Home__container">
        <!-- Vamos renderizar todas os lanches disponíveis no backend aqui, na div com id igual a lanchesList-->
        <div class="lancheLista" id="lancheList"></div>
      </div>
    </div>
    <!-- Script -->
    <script src="../public/js/scritpt.js"></script>
  </body>
</html>
